[submodule "documentation"]
	path = documentation
	url = git@github.com:PI-FindIt/documentation.git
[submodule "user-service"]
	path = user-service
	url = git@github.com:PI-FindIt/user-service.git
[submodule "client-app"]
	path = client-app
	url = git@github.com:PI-FindIt/client-app.git
[submodule "supermarket-admin-app"]
	path = supermarket-admin-app
	url = git@github.com:PI-FindIt/supermarket-admin-app.git
[submodule "product-service"]
	path = product-service
	url = git@github.com:PI-FindIt/product-service.git
[submodule "category-service"]
	path = category-service
	url = git@github.com:PI-FindIt/category-service.git
[submodule "brand-service"]
	path = brand-service
	url = git@github.com:PI-FindIt/brand-service.git
[submodule "supermarket-service"]
	path = supermarket-service
	url = git@github.com:PI-FindIt/supermarket-service.git
[submodule "cdn-service"]
	path = cdn-service
	url = git@github.com:PI-FindIt/cdn-service.git
[submodule "recommendation-service"]
	path = recommendation-service
	url = git@github.com:PI-FindIt/recommendation-service.git
[submodule "stock-replacer-app"]
	path = stock-replacer-app
	url = git@github.com:PI-FindIt/stock-replacer-app.git
