[submodule "documentation"]
	path = documentation
	url = git@github.com:PI-FindIt/documentation.git
[submodule "user-service"]
	path = user-service
	url = git@github.com:PI-FindIt/user-service.git
[submodule "client-app"]
	path = client-app
	url = git@github.com:PI-FindIt/client-app.git
[submodule "supermarket-admin-app"]
	path = supermarket-admin-app
	url = git@github.com:PI-FindIt/supermarket-admin-app.git
[submodule "product-service"]
	path = product-service
	url = git@github.com:PI-FindIt/product-service.git
[submodule "client-app/utils"]
	path = client-app/utils
	url =git@github.com:PI-FindIt/utils.git
